Original:<br>

Name: {{this.model.name}}<br>
isAdmin: {{this.model.isAdmin}}<br><br>

<hr>

{{#let (state (type "user") this.model) as |user|}}
  <p>
    <label> Has Errors: </label> {{user.name.hasErrors}}
  </p>
  <form {{action "onsubmit" user on="submit"}}>
    Name: {{user.name.state}}<br>
    isAdmin: {{user.isAdmin.state}}<br><br>

    <input type="text" onchange={{action user.name.set value="target.value"}} placeholder="{{user.name.state}}">
    <button type="button" {{action user.isAdmin.toggle}}>Change role</button>
    <button type="submit">Submit</button>

  </form>

{{/let}}


{{outlet}}
